body,
html {
    background: #f3f6f5;
}

ul,
li {
    list-style: none;
}
h3,p{
    margin-bottom: 0;
}
.rice_main_header {
    width: 100%;
    background: #fff;
    padding: .625rem;
    padding-left: .8125rem;
    padding-right: .8125rem;
    position: relative;
}

.rice_main_header input {
    background: #f2f2f2;
}

.rice_main_slider {
    background: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.rice_main_slider_item {
    padding: 1.333333333333333em 0;
    box-sizing: border-box;
    overflow: hidden;
}

.slider_item_head {
    height: 1.125rem;
    line-height: 1.125rem;
    box-sizing: border-box;
    margin: 0 0.8em;
}

.slider_item_head .head_ti {
    font-size: 1.125rem;
    color: #000;
}

.slider_item_head .head_geng {
    float: right;
    font-size: .75rem;
    margin-right: .16em;
    color: #999;
    right: 0;
}

.slider_item_list {
    width: 100%;
    overflow-x: scroll;
}

.slider_item_list::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}

.item_list_long {
    width: 45rem;
    display: flex;
    padding-top: .9375rem;
    padding-right: .9375rem;
}

.list_long_item {
    margin-left: 1rem;
    flex: 1;
    text-align: center;
    padding-bottom: 1rem;
    border: 1px solid #f1f1f1;
    position: relative;

}

.list_long_item p {
    margin-bottom: 0;
}

.long_item_img::before {
    content: ' ';
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: 3.6875rem;
    left: 4.8125rem;
    background: url(../../assets/icon_gold-crown.png);
    background-size: cover;
    z-index: 2;
}

.long_item_img img {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-top: .625rem;
}

.long_item_name {
    margin-top: .625rem;
    margin-bottom: 0;
    color: #333;
    font-weight: 700;
    font-size: 1rem;
}

.long_item_poll {
    margin-top: .3125rem;
    color: #bf974d;
    font-size: .8125rem;
    line-height: .875rem;
}

.long_item_mv {
    margin-top: .3125rem;
    color: #999;
    font-size: .8125rem;
    line-height: .875rem;
}
.slider_item_nav{
    overflow: hidden;
}
.slider_item_nav .ant-menu{
    display: flex;
}

.slider_item_nav .ant-menu-item {
    text-align: center;
    flex: 1;
}

.slider_item_nav >.ant-menu-horizontal:nth-child(1)>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected {
    color: #000;
    border-bottom: 2px solid #000;
}


/* Plaza */
.Plaza {
    text-align: center;
    color: #999;
    line-height: 3.4375rem;
    background-color: #fff;
}

.Atten {
    height: 25rem;
    position: relative;
    background-color: #f3f6f5;
}

.Atten .Atten_img {
    width: 11.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.Atten .Atten_img img {
    width: 7.3125rem;
}

.Atten .Atten_img .Atten_txt {
    width: 100%;
    color: #999999;
    text-align: center;
    margin-top: 1.25rem;
    margin-bottom: 0;
    font-size: .625rem;
}

.Atten .Atten_img .Atten_btn {
    width: 5.25rem;
    font-size: .625rem;
    color: #bf974d;
    border: solid #bf974d 1px;
    border-radius: .9375rem;
    margin-top: 1.25rem;
    margin-right: auto;
    margin-left: auto;
    height: 1.875rem;
    line-height: 1.875rem;
    text-align: center;
}

/* Move */
.Move_head_ul li .Moveactive {
    color: #000;
}

.Move, .Fq {
    background-color: #fff;
}

.Move .Move_head {
    width: 100%;
    height: 2.5rem;
}

.Move_head_ul {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
    padding-left: 0;
}

.Move_head_ul li {
    float: left;
    padding-left: .9375rem;
}

.Move_head_ul li span {
    display: block;
    width: 3.4375rem;
    height: 100%;
    line-height: 2.5rem;
    text-align: center;
    font-size: .875rem;
    color: #999;
}

.Move_list {
    background: #fff;
    overflow: hidden;
    margin-bottom: 3.125rem;
}

.Move_list .Move_list_item {
    padding: 1rem 4% 3.25rem 4%;
    position: relative;

}

.Move_list_item h2 {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0;
    line-height: 1.5rem;
    font-weight: 700;
    overflow: hidden;
}

.Move_list_item .content {
    font-size: .875rem;
    color: #666;
    line-height: 1.375rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* autoprefixer: off */
    -webkit-box-orient: vertical; 
    /* autoprefixer: on */
}

.Move_list_item .footitem {
    position: absolute;
    bottom: .25rem;
    font-size: .6875rem;
    color: #999;
    height: 1rem;
    line-height: 1rem;
}

.Move_list_item .left i {
    background: #39d893;
    text-align: center;
    font-size: .625rem;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1.0625rem;
    margin-right: .3125rem;
    font-style: normal;
}

.Move_list_item .right {
    right: 0;
    padding-right: 4%;
}
/* Fq */
.Fq_head{
    width: 100%;
    height: 2.5rem;
    overflow-x: scroll;
    border-bottom: 1px solid #e8ebea;
}
.Fq_head >.ant-menu-horizontal>.ant-menu-item:hover,
.ant-menu-horizontal>.ant-menu-horizontal>.ant-menu-item-active,
.ant-menu-horizontal>.ant-menu-submenu-active,
.ant-menu-horizontal>.ant-menu-item-open,
.ant-menu-horizontal>.ant-menu-submenu-open,
.ant-menu-horizontal>.ant-menu-item-selected {
    color: #000;
    border-bottom: 2px solid #000;
}
.Fq_head ul{
    width: 33.125rem;
}
.Fq_head::-webkit-scrollbar {
    /*隐藏滚轮*/
    display: none;
}
.Fq_main{
    width: 100%;
    margin-bottom: 2.5rem;
}
.Fq_main .Fq_main_ul{
    margin-bottom: 0;
    padding-left: 0;
}
.Fq_main .Fq_main_item{
    padding-left: .625rem;
    border-bottom: #e8e8e8;
    position: relative;
}
.Fq_main .Fq_main_cont{
    position: relative;
    padding: .8125rem 3.75rem .8125rem 4.6875rem;
    height: 7rem;
    box-sizing: border-box;
}
.Fq_main .main_cont_img img{
    position: absolute;
    width: 4.0625rem;
    height: 5.5rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: .8125rem;
    left: 0;
}
.Fq_main .Fq_main_cont .title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333;
    font-size: 1rem;
    line-height: 1.75rem;
    padding-bottom: 1.0625rem;
}
.Fq_main .Fq_main_cont .fan-info{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #999;
    font-size: .6875rem;
    line-height: 1.4375rem;
}
.Fq_main .Fq_main_btn{
    width: 4.0625rem;
    height: 1.5625rem;
    position: absolute; 
    right: .625rem;
    top: 2.9375rem;
    font-size: .6875rem;
    background: #fff;
    color: #b08c4a;
    line-height: 1.5625rem;
    border-radius: .78125rem;
    border: 1px solid #eaeaea;
    text-align: center;
}